<% include ./partials/header %>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <div class="unblur">
            <i class="fa fa-sun-o" aria-hidden="true"></i>
            <h1>WeatherMan</h1>
            <p>Login or Register with:</p>
            <a href="/login" class="home-btn"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="home-btn"><span class="fa fa-user"></span> Local Signup</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script></head>
</body>
