body, html { overflow-x:hidden; }

.container{
  margin: 0;
  padding: 0;
  width: 100%;
}
.jumbotron{
  padding: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./sunshine.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
/*  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(15px);*/
}
.unblur{
  top: 100px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  background: rgba(255, 255, 255, .5);
  padding: 100px;
}
.unblur a{
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, .7);
  color: white;
}
.fa-sun-o{
  font-size: 46px;
}
.home-wrapper{
  text-align: center;
}
.home-wrapper h1, .home-wrapper h4{
  margin-top: 50px;
}
.home-wrapper input{
  margin-top: 30px;
}
.unblur h1{
  font-size: 36px;
  margin-bottom: 50px;
}
.col-sm-8{
  margin: 0 auto;
  float: none;
}
.btn-div{
  text-align: center;
}
@media(max-width: 480px){
  .unblur{
    width:90%;
    top: 50px;
    margin: 0 auto;
    padding: 100px 0px;
  }
  .unblur a{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
